/* VARIABLES GLOBALES */
:root {
    --color-principal: green;
    --sombra-texto: green; /* color actual */
    --fondo-degradado: #092004; /* color actual */
    --cartas-mesas:#0750199d;
    --menu-juegos: linear-gradient(135deg, #074105, #0d8209);
    --imagen-fondo: url('../imagenes/fondo.png');
}
:root {
    --fuente-global: Arial;
    --color-global: white;
    --tamano-global: 20px;
}

/* ESTILO GLOBAL QUE USAN TODAS LAS PÁGINAS */
body {
    font-family: var(--fuente-global);
    color: var(--color-global);
    font-size: var(--tamano-global);
}
/* VARIABLES SOLO PARA UI (NO FONDO) desde aqui si hay problemas */ 
/* ============================= */
/* TEMAS SOLO CUANDO SE ACTIVAN */
/* ============================= */

/* ROJO */
.tema-rojo header,
.tema-rojo nav,
.tema-rojo footer {
    background: linear-gradient(98deg, #990000,#180303) !important;
}

/* MORADO */
.tema-morado header,
.tema-morado nav,
.tema-morado footer {
    background: linear-gradient(98deg, #572b96, #0c021e)!important;
}

/* AZUL */
.tema-azul header,
.tema-azul nav,
.tema-azul footer {
    background: linear-gradient(98deg, #3159c9, #010511) !important;
}

/* BOTONES OPCIONAL */
body:not(.mesas-page).tema-rojo button {
    background: linear-gradient(98deg, #990000,#5a1414);
    color: white;
}

body:not(.mesas-page).tema-morado button {
    background: linear-gradient(98deg, #572b96, #1f084a);
    color: white;
}

body:not(.mesas-page).tema-azul button {
    background: linear-gradient(98deg, #3159c9, #021349);
    color: white;
}
.boton-accesibilidad {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: white;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}

.panel-accesibilidad {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
h1, h2, h3  {
    text-shadow: 2px 6px 10px var(--sombra-texto);
}
/* 🔴 ROJO */
.tema-rojo {
    --color-principal: rgb(209, 18, 18);
    --sombra-texto: rgb(154, 4, 4);
    --fondo-degradado: #420505;
    --cartas-mesas:#6108089d;
    --menu-juegos: linear-gradient(135deg, #450303, #820919);
    --mesa-titulo: rgba(184, 4, 4, 0.288);
    --imagen-fondo: url('../imagenes/fondo_rojo.png');
}

/* 🟣 MORADO */
.tema-morado {
    --color-principal: rgb(181, 24, 224);
    --sombra-texto: purple;
    --fondo-degradado: #210542;
    --cartas-mesas:#4005639d;
    --menu-juegos: linear-gradient(135deg, #3d0345, #5a0982);
    --mesa-titulo: rgba(142, 4, 184, 0.288);
    --imagen-fondo: url('../imagenes/fondo_morado.png');
}

/* 🔵 AZUL */
.tema-azul {
    --color-principal: rgb(63, 96, 226);
    --sombra-texto: rgb(9, 9, 97);
    --fondo-degradado: #051342;
    --cartas-mesas:#081c5ec5;
    --menu-juegos: linear-gradient(135deg, #021349, #3159c9);
    --mesa-titulo: rgba(7, 64, 102, 0.527);
    --imagen-fondo: url('../imagenes/fondo_azul.png');
}

/* LÍNEA Y ACCENTOS DEL MENÚ */
.menu-header {
    border-bottom: 2px solid var(--color-principal);
}

.menu-opciones a,
.menu-opciones a:hover {
    color: white;
}

.menu-opciones a:hover {
    background: var(--color-principal);
}

.tema-rojo .submenu {
    background: linear-gradient(98deg, #990000, #180303);
}

.tema-morado .submenu {
    background: linear-gradient(98deg, #572b96, #0c021e);
}

.tema-azul .submenu {
    background: linear-gradient(98deg, #3159c9, #021349);
}

.titulo_funcion {
    text-shadow: 2px 6px 10px var(--sombra-texto);
}
.mesas-card,
.mesas-card2,
.mesas-card3 {
    box-shadow: 0 4px 10px var(--sombra-texto);
}

/* TEMA MORADO */
.tema-morado .cuenta-btn {
    background: linear-gradient(180deg, #572b96, #1f084a);
    border: 2px solid var(--color-principal);
}
.tema-morado .cuenta-btn:hover {
    background: linear-gradient(98deg, #572b96, #1f084a);
}
.tema-morado .p-modal-card {
    border: 1px solid var(--color-principal);
    box-shadow: 0 25px 50px rgba(66, 9, 104, 0.6), 0 0 15px rgba(66, 2, 109, 0.2); 
}
.tema-morado .p-avatar-container span {
    color: var(--color-principal);
}
.tema-morado .titulo-color {
    color: var(--color-principal);
}
.tema-morado .p-btn-primario {
    background: linear-gradient(180deg, #572b96, #1f084a);
}
.tema-morado .p-btn-primario:hover {
    background: linear-gradient(180deg, #6934b3, #180638);
}
.tema-morado .p-close-btn:hover  {
    color: var(--color-principal);
}
.tema-morado .p-modal-header {
    border-bottom: 1px solid var(--color-principal);
}
.tema-morado .p-modal-footer {
    border-top: 1px solid var(--color-principal);
}
.tema-morado .sub-modal-card {
    box-shadow: 0 25px 50px rgba(66, 9, 104, 0.6), 0 0 15px rgba(66, 2, 109, 0.2); 
}
.tema-morado .input-wrapper:focus-within .input-icon { color: var(--color-principal); }
.tema-morado .input-wrapper:focus-within .toggle-passwordd { color: var(--color-principal); }
.tema-morado .input-wrapper:focus-within .toggle-passwordd-sub { color: var(--color-principal); }
.tema-morado .p-info-group input:focus { border-color: var(--color-principal); box-shadow: 0 0 10px rgba(66, 4, 179, 0.3);}
.tema-morado .toast { background: var(--color-principal); }
.tema-morado .step-num {background: linear-gradient(135deg, #7c3aed, #c026d3);}
.tema-morado .cta-banner {background: linear-gradient(135deg, #4c1d95, #86198f);}
.tema-morado .logo-icon { background: linear-gradient(135deg, #c026d3, #86198f);}
.tema-morado #modal-registro > div {
    box-shadow: 0 25px 50px rgba(96, 9, 104, 0.6), 0 0 15px rgba(70, 2, 109, 0.2); 
}
.tema-morado #registro-form input:focus {
    box-shadow: 0 0 5px rgba(74, 4, 120, 0.3);
}
.tema-morado #registro-form select:focus { 
    box-shadow: 0 0 5px rgba(83, 4, 120, 0.3);
}
.tema-morado #registro-form button:hover {
    background: linear-gradient(180deg, #7a0198, #000000);
}


/* TEMA ROJO */
.tema-rojo .cuenta-btn {
    background: linear-gradient(180deg, #990000,#5a1414);
    border: 2px solid var(--color-principal);
}
.tema-rojo .cuenta-btn:hover {
    background: linear-gradient(98deg, #af0303, #270000);
}
.tema-rojo .p-modal-card {
    border: 1px solid var(--color-principal);
    box-shadow: 0 25px 50px rgba(104, 9, 9, 0.6), 0 0 15px rgba(109, 2, 2, 0.2); 
}
.tema-rojo .p-avatar-container span {
    color: var(--color-principal);
}
.tema-rojo .titulo-color {
    color: var(--color-principal);
}
.tema-rojo .p-btn-primario {
    background: linear-gradient(180deg, #990000,#5a1414);
}
.tema-rojo .p-btn-primario:hover {
    background: linear-gradient(180deg, #be0101,#420f0f);
}
.tema-rojo .p-close-btn:hover  {
    color: var(--color-principal);
}
.tema-rojo .p-modal-header {
    border-bottom: 1px solid var(--color-principal);
}
.tema-rojo .p-modal-footer {
    border-top: 1px solid var(--color-principal);
}
.tema-rojo .sub-modal-card {
    box-shadow: 0 25px 50px rgba(104, 9, 9, 0.6), 0 0 15px rgba(109, 2, 2, 0.2); 
}
.tema-rojo .input-wrapper:focus-within .input-icon { color: var(--color-principal); }
.tema-rojo .input-wrapper:focus-within .toggle-passwordd { color: var(--color-principal); }
.tema-rojo .input-wrapper:focus-within .toggle-passwordd-sub { color: var(--color-principal); }
.tema-rojo .p-info-group input:focus { border-color: var(--color-principal); box-shadow: 0 0 10px rgba(179, 4, 4, 0.3);}
.tema-rojo .toast { background: var(--color-principal); }
.tema-rojo .step-num {background: linear-gradient(135deg, #3a0000, #af0303);}
.tema-rojo .cta-banner {background: linear-gradient(135deg, #3a0000, #af0303);}
.tema-rojo .logo-icon { background: linear-gradient(135deg, #e22b2b, #961a1a);}
.tema-rojo #modal-registro > div {
    box-shadow: 0 25px 50px rgba(104, 9, 9, 0.6), 0 0 15px rgba(109, 2, 2, 0.2); 
}
.tema-rojo #registro-form input:focus {
    box-shadow: 0 0 5px rgba(120, 4, 4, 0.3);
}
.tema-rojo #registro-form select:focus { 
    box-shadow: 0 0 5px rgba(120, 4, 4, 0.3);
}
.tema-rojo #registro-form button:hover {
    background: linear-gradient(180deg, #980101, #000000);
}

/* TEMA AZUL */
.tema-azul .cuenta-btn {
    background: linear-gradient(180deg, #3159c9, #021349);
    border: 2px solid var(--color-principal);
}
.tema-azul .cuenta-btn:hover {
    background: linear-gradient(98deg, #3159c9, #021349);
}
.tema-azul .p-modal-card {
    border: 1px solid var(--color-principal);
    box-shadow: 0 25px 50px rgba(9, 23, 104, 0.6), 0 0 15px rgba(2, 18, 109, 0.2); 
}
.tema-azul .p-avatar-container span {
    color: var(--color-principal);
}
.tema-azul .titulo-color {
    color: var(--color-principal);
}
.tema-azul .p-btn-primario {
    background: linear-gradient(180deg, #3159c9, #021349);
}
.tema-azul .p-btn-primario:hover {
    background: linear-gradient(180deg, #3764df, #020e38);
}
.tema-azul .p-close-btn:hover  {
    color: var(--color-principal);
}
.tema-azul .p-modal-header {
    border-bottom: 1px solid var(--color-principal);
}
.tema-azul .p-modal-footer {
    border-top: 1px solid var(--color-principal);
}
.tema-azul .sub-modal-card {
    box-shadow: 0 25px 50px rgba(9, 23, 104, 0.6), 0 0 15px rgba(2, 22, 109, 0.2); 
}
.tema-azul .input-wrapper:focus-within .input-icon { color: var(--color-principal); }
.tema-azul .input-wrapper:focus-within .toggle-passwordd { color: var(--color-principal); }
.tema-azul .input-wrapper:focus-within .toggle-passwordd-sub { color: var(--color-principal); }
.tema-azul .p-info-group input:focus { border-color: var(--color-principal); box-shadow: 0 0 10px rgba(4, 16, 179, 0.3);}
.tema-azul .toast { background: var(--color-principal); }
.tema-azul .step-num {background: linear-gradient(135deg, #3159c9, #021349);}
.tema-azul .cta-banner {background: linear-gradient(135deg, #3159c9, #021349);}
.tema-azul .logo-icon { background: linear-gradient(135deg, #3159c9, #1a228c);}
.tema-azul #modal-registro > div {
    box-shadow: 0 25px 50px rgba(9, 31, 104, 0.6), 0 0 15px rgba(2, 9, 109, 0.2); 
}
.tema-azul #registro-form input:focus {
    box-shadow: 0 0 5px rgba(4, 25, 120, 0.3);
}
.tema-azul #registro-form select:focus { 
    box-shadow: 0 0 5px rgba(6, 4, 120, 0.3);
}
.tema-azul #registro-form button:hover {
    background: linear-gradient(180deg, #013d98, #000000);
}


/* 🔥 FACTURA EN MESAS */
.mesas-page.tema-rojo .modal-header {
    background: linear-gradient(98deg, #990000, #5a1414);
}

.mesas-page.tema-rojo .btn-print,
.mesas-page.tema-rojo .modal-header h2 {
    color: #fff;
}

.mesas-page.tema-rojo .btn-print {
    background: #990000;
}

.mesas-page.tema-morado .modal-header {
    background: linear-gradient(98deg, #572b96, #1f084a);
}

.mesas-page.tema-morado .btn-print,
.mesas-page.tema-morado .modal-header h2 {
    color: #fff;
}

.mesas-page.tema-morado .btn-print {
    background: #572b96;
}

.mesas-page.tema-azul .modal-header {
    background: linear-gradient(98deg, #3159c9, #021349);
}

.mesas-page.tema-azul .btn-print,
.mesas-page.tema-azul .modal-header h2 {
    color: #fff;
}

.mesas-page.tema-azul .btn-print {
    background: #3159c9;
}

.mesas-page .invoice-details strong,
.mesas-page .modal-body h3 {
    color: var(--color-principal);
}
