/* VARIABLES GLOBALES */
:root {
    --color-principal: green;
    --sombra-texto: green; /* color actual */
    --fondo-degradado: #092004; /* color actual */
    --cartas-mesas:#0750199d;
    --menu-juegos: linear-gradient(135deg, #074105, #0d8209);
    --imagen-fondo: url('../imagenes/fondo.png');
    --imagen-fondo-olvido-contrasena: url('../imagenes/olvido_contraseña_fondo.jpeg');
}
:root {
    --fuente-global: Arial;
    --color-global: white;
    --tamano-global: 20px;
}

/* ESTILO GLOBAL QUE USAN TODAS LAS PÁGINAS */
body {
    font-family: var(--fuente-global);
    color: var(--color-global);
    font-size: var(--tamano-global);
}
/* VARIABLES SOLO PARA UI (NO FONDO) desde aqui si hay problemas */ 
/* ============================= */
/* TEMAS SOLO CUANDO SE ACTIVAN */
/* ============================= */

/* ROJO */
.tema-rojo header,
.tema-rojo nav,
.tema-rojo footer {
    background: linear-gradient(98deg, #990000,#180303) !important;
}

/* MORADO */
.tema-morado header,
.tema-morado nav,
.tema-morado footer {
    background: linear-gradient(98deg, #572b96, #0c021e)!important;
}

/* AZUL */
.tema-azul header,
.tema-azul nav,
.tema-azul footer {
    background: linear-gradient(98deg, #3159c9, #010511) !important;
}
/* INICIO DE PANEL DE ACCESIBILIDAD */
/* PANEL DE ACCESIBILIDAD */
.boton-accesibilidad {
    position:fixed;
    right:30px;
    bottom:20px;
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    background:#242424;
    color:white;
    box-shadow: 
        0 0 25px rgba(0,255,0,.35);
    border:2px solid var(--color-principal);
    transition:.35s;
    z-index:99999;
}
.boton-accesibilidad:hover{
    transform:scale(1.08);
    box-shadow: 
        0 0 35px var(--color-principal);
}

.panel-accesibilidad {
    position:fixed;
    right:30px;
    bottom:130px;
    width:320px;
    background:#16181d;
    border-radius:25px;
    border:2px solid var(--color-principal);
    box-shadow:
        0 0 30px rgba(0,0,0,.55),
        0 0 25px var(--color-principal);
    display:none;
    overflow:hidden;
    z-index:99999;
    animation:abrirPanel .35s ease;
}
/* Cuando el panel está abierto */
.panel-accesibilidad.mostrar{
    display:block;
}

h1, h2, h3  {
    text-shadow: 2px 6px 10px var(--sombra-texto);
}
/* ESTILOS DE LA CABECERA*/
.panel-header{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px 25px;
    text-align:center
}
/* ESTILOS PARA EL TITULO*/
.panel-header h2{
    margin:10px 0 5px;
    font-size:18px;
}

.panel-header p{
    margin-top:5px;
    color:#bbbbbb;
    font-size:15px;
}

.cerrar-panel{
    position:absolute;
    top:10px;
    right:20px;
    background:none;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.linea-panel{
    height:1px;
    background:#3d3d3d;
    margin:0 25px;
}


/* ESTILOS PARA EL CONTENEDOR DE OPCIONES*/
.panel-body{
    padding:18px;
    display:flex;
    flex-direction:column;
    gap:12px;
}


/* ESTILOS PARA LAS TARJETA*/
.opcion-tema{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:13px;
    padding:10px 12px;
    cursor:pointer;
    transition:.30s;
    border:2px solid transparent;
}

.opcion-tema:hover{
        transform:translateY(-2px);
        box-shadow:0 0 18px var(--color-principal);
}


/* ESTILOS PARA LA INFORMACIÓN DEL TEMA */

.info-tema{
    display:flex;
    align-items:center;
    gap:10px;
}

/* ESTILOS PARA EL CIRCULO DONDE VAN LOS ICONOS*/
.icono-tema{
    width:42px;
    height:42px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}

/* ESTILOS PARA EL TEXTO DEL TEMA */

.texto-tema h3{
    margin:0;
    font-size:16px;
}

.texto-tema p{
    margin-top:2px;
    color:#bdbdbd;
    font-size:12px;
}


/* ESTILOS PARA LA FLECHA*/

.flecha{
    font-size:22px;
    color:white;
}


/* ESTILOS PARA LAS TARJETAS ROJAS */

.tema-card-rojo{
    border-color:#d32020;
    background:#2b1717;
}

.tema-card-rojo .icono-tema{
    background:#571717;
    color:#ff5252;
}


/* ESTILOS PARA LAS TARJETAS MORADAS */

.tema-card-morado{
    border-color:#8d45ff;
    background:#221d32;
}

.tema-card-morado .icono-tema{
    background:#40215e;
    color:#b76cff;
}


/* ESTILOS PARA LAS TARJETAS AZULES */

.tema-card-azul{
    border-color:#2d8cff;
    background:#182431;
}

.tema-card-azul .icono-tema{
    background:#163b63;
    color:#4ea2ff;
}


/* ESTILOS PARA LAS TARJETAS DE RESTABLECER*/
.tema-card-reset{
    border-color:#1cc84f;
    background:#172c1b;
}

.tema-card-reset .icono-tema{

    background:#184d27;
    color:#3cff72;
}


/* ANIMACIÓN*/
    @keyframes abrirPanel{

        from{

            opacity:0;

            transform:translateY(20px);
        }

        to{

            opacity:1;

            transform:translateY(0);
        }
    }
/* FIN ESTILOS DE PANEL DE ACCESIBILIDAD */
/* 🔴 ROJO */
.tema-rojo {
    --color-principal: rgb(209, 18, 18);
    --sombra-texto: rgb(154, 4, 4);
    --fondo-degradado: #420505;
    --cartas-mesas:#6108089d;
    --menu-juegos: linear-gradient(135deg, #450303, #820919);
    --mesa-titulo: rgba(184, 4, 4, 0.288);
    --imagen-fondo: url('../imagenes/fondo_rojo.png');
    --imagen-fondo-olvido-contrasena: url('../imagenes/olvido_contraseña_fondo_rojo.jpeg');
}

/* 🟣 MORADO */
.tema-morado {
    --color-principal: rgb(181, 24, 224);
    --sombra-texto: purple;
    --fondo-degradado: #210542;
    --cartas-mesas:#4005639d;
    --menu-juegos: linear-gradient(135deg, #3d0345, #5a0982);
    --mesa-titulo: rgba(142, 4, 184, 0.288);
    --imagen-fondo: url('../imagenes/fondo_morado.png');
    --imagen-fondo-olvido-contrasena: url('../imagenes/olvido_contraseña_fondo_morado.jpeg');
}

/* 🔵 AZUL */
.tema-azul {
    --color-principal: rgb(63, 96, 226);
    --sombra-texto: rgb(9, 9, 97);
    --fondo-degradado: #051342;
    --cartas-mesas:#081c5ec5;
    --menu-juegos: linear-gradient(135deg, #021349, #3159c9);
    --mesa-titulo: rgba(7, 64, 102, 0.527);
    --imagen-fondo: url('../imagenes/fondo_azul.png');
    --imagen-fondo-olvido-contrasena: url('../imagenes/olvido_contraseña_fondo_azul.jpeg');
}

/* LÍNEA Y ACCENTOS DEL MENÚ */
.menu-header {
    border-bottom: 2px solid var(--color-principal);
}

.menu-opciones a,
.menu-opciones a:hover {
    color: white;
}

.menu-opciones a:hover {
    background: var(--color-principal);
}

.tema-rojo .submenu {
    background: linear-gradient(98deg, #990000, #180303);
}

.tema-morado .submenu {
    background: linear-gradient(98deg, #572b96, #0c021e);
}

.tema-azul .submenu {
    background: linear-gradient(98deg, #3159c9, #021349);
}

.titulo_funcion {
    text-shadow: 2px 6px 10px var(--sombra-texto);
}
.mesas-card,
.mesas-card2,
.mesas-card3 {
    box-shadow: 0 4px 10px var(--sombra-texto);
}

/* TEMA MORADO */
.tema-morado .cuenta-btn {
    background: linear-gradient(180deg, #572b96, #1f084a);
    border: 2px solid var(--color-principal);
}
.tema-morado .cuenta-btn:hover {
    background: linear-gradient(98deg, #572b96, #1f084a);
}
.tema-morado .p-modal-card {
    border: 1px solid var(--color-principal);
    box-shadow: 0 25px 50px rgba(66, 9, 104, 0.6), 0 0 15px rgba(66, 2, 109, 0.2); 
}
.tema-morado .p-avatar-container span {
    color: var(--color-principal);
}
.tema-morado .titulo-color {
    color: var(--color-principal);
}
.tema-morado .p-btn-primario {
    background: linear-gradient(180deg, #572b96, #1f084a);
}
.tema-morado .p-btn-primario:hover {
    background: linear-gradient(180deg, #6934b3, #180638);
}
.tema-morado .p-close-btn:hover  {
    color: var(--color-principal);
}
.tema-morado .p-modal-header {
    border-bottom: 1px solid var(--color-principal);
}
.tema-morado .p-modal-footer {
    border-top: 1px solid var(--color-principal);
}
.tema-morado .sub-modal-card {
    box-shadow: 0 25px 50px rgba(66, 9, 104, 0.6), 0 0 15px rgba(66, 2, 109, 0.2); 
}
.tema-morado .input-wrapper:focus-within .input-icon { color: var(--color-principal); }
.tema-morado .input-wrapper:focus-within .toggle-passwordd { color: var(--color-principal); }
.tema-morado .input-wrapper:focus-within .toggle-passwordd-sub { color: var(--color-principal); }
.tema-morado .p-info-group input:focus { border-color: var(--color-principal); box-shadow: 0 0 10px rgba(66, 4, 179, 0.3);}
.tema-morado .toast { background: var(--color-principal); }
.tema-morado .step-num {background: linear-gradient(135deg, #7c3aed, #c026d3);}
.tema-morado .cta-banner {background: linear-gradient(135deg, #4c1d95, #86198f);}
.tema-morado .logo-icon { background: linear-gradient(135deg, #c026d3, #86198f);}
.tema-morado #modal-registro > div {
    box-shadow: 0 25px 50px rgba(96, 9, 104, 0.6), 0 0 15px rgba(70, 2, 109, 0.2); 
}
.tema-morado #registro-form input:focus {
    box-shadow: 0 0 5px rgba(74, 4, 120, 0.3);
}
.tema-morado #registro-form select:focus { 
    box-shadow: 0 0 5px rgba(83, 4, 120, 0.3);
}
.tema-morado #registro-form button {
    background: linear-gradient(98deg, #6f2b96, #1f084a) !important;
}
.tema-morado #registro-form button:hover {
    background: linear-gradient(180deg, #7a0198, #000000);
}
.tema-morado .mesa-usuario button {
    background: linear-gradient(180deg, #86198f, #000000d0) !important;
}
.tema-morado .mesa-usuario button:hover{
    background: linear-gradient(180deg, #c026d3, #000000) !important;
}
.tema-morado .btn-billar {
    background: linear-gradient(180deg, #86198f, #000000d0) !important;
}
.tema-morado .btn-billar:hover {
    background: linear-gradient(180deg, #c026d3, #000000) !important;
}


/* TEMA ROJO */
.tema-rojo .cuenta-btn {
    background: linear-gradient(180deg, #990000,#5a1414);
    border: 2px solid var(--color-principal);
}
.tema-rojo .cuenta-btn:hover {
    background: linear-gradient(98deg, #af0303, #270000);
}
.tema-rojo .p-modal-card {
    border: 1px solid var(--color-principal);
    box-shadow: 0 25px 50px rgba(104, 9, 9, 0.6), 0 0 15px rgba(109, 2, 2, 0.2); 
}
.tema-rojo .p-avatar-container span {
    color: var(--color-principal);
}
.tema-rojo .titulo-color {
    color: var(--color-principal);
}
.tema-rojo .p-btn-primario {
    background: linear-gradient(180deg, #990000,#5a1414);
}
.tema-rojo .p-btn-primario:hover {
    background: linear-gradient(180deg, #be0101,#420f0f);
}
.tema-rojo .p-close-btn:hover  {
    color: var(--color-principal);
}
.tema-rojo .p-modal-header {
    border-bottom: 1px solid var(--color-principal);
}
.tema-rojo .p-modal-footer {
    border-top: 1px solid var(--color-principal);
}
.tema-rojo .sub-modal-card {
    box-shadow: 0 25px 50px rgba(104, 9, 9, 0.6), 0 0 15px rgba(109, 2, 2, 0.2); 
}
.tema-rojo .input-wrapper:focus-within .input-icon { color: var(--color-principal); }
.tema-rojo .input-wrapper:focus-within .toggle-passwordd { color: var(--color-principal); }
.tema-rojo .input-wrapper:focus-within .toggle-passwordd-sub { color: var(--color-principal); }
.tema-rojo .p-info-group input:focus { border-color: var(--color-principal); box-shadow: 0 0 10px rgba(179, 4, 4, 0.3);}
.tema-rojo .toast { background: var(--color-principal); }
.tema-rojo .step-num {background: linear-gradient(135deg, #3a0000, #af0303);}
.tema-rojo .cta-banner {background: linear-gradient(135deg, #3a0000, #af0303);}
.tema-rojo .logo-icon { background: linear-gradient(135deg, #e22b2b, #961a1a);}
.tema-rojo #modal-registro > div {
    box-shadow: 0 25px 50px rgba(104, 9, 9, 0.6), 0 0 15px rgba(109, 2, 2, 0.2); 
}
.tema-rojo #registro-form input:focus {
    box-shadow: 0 0 5px rgba(120, 4, 4, 0.3);
}
.tema-rojo #registro-form select:focus { 
    box-shadow: 0 0 5px rgba(120, 4, 4, 0.3);
}
.tema-rojo #registro-form button:hover {
    background: linear-gradient(180deg, #980101, #000000);
}
.tema-rojo .mesa-usuario button {
    background: linear-gradient(180deg, #8f1919, #000000d0) !important;
}
.tema-rojo .mesa-usuario button:hover{
    background: linear-gradient(180deg, #d32626, #000000)  !important;
}
.tema-rojo .btn-billar {
    background: linear-gradient(180deg, #8f1919, #000000d0) !important;
}
.tema-rojo .btn-billar:hover {
    background: linear-gradient(180deg, #d32626, #000000)  !important;
}


/* TEMA AZUL */
.tema-azul .cuenta-btn {
    background: linear-gradient(180deg, #3159c9, #021349);
    border: 2px solid var(--color-principal);
}
.tema-azul .cuenta-btn:hover {
    background: linear-gradient(98deg, #3159c9, #021349);
}
.tema-azul .p-modal-card {
    border: 1px solid var(--color-principal);
    box-shadow: 0 25px 50px rgba(9, 23, 104, 0.6), 0 0 15px rgba(2, 18, 109, 0.2); 
}
.tema-azul .p-avatar-container span {
    color: var(--color-principal);
}
.tema-azul .titulo-color {
    color: var(--color-principal);
}
.tema-azul .p-btn-primario {
    background: linear-gradient(180deg, #3159c9, #021349);
}
.tema-azul .p-btn-primario:hover {
    background: linear-gradient(180deg, #3764df, #020e38);
}
.tema-azul .p-close-btn:hover  {
    color: var(--color-principal);
}
.tema-azul .p-modal-header {
    border-bottom: 1px solid var(--color-principal);
}
.tema-azul .p-modal-footer {
    border-top: 1px solid var(--color-principal);
}
.tema-azul .sub-modal-card {
    box-shadow: 0 25px 50px rgba(9, 23, 104, 0.6), 0 0 15px rgba(2, 22, 109, 0.2); 
}
.tema-azul .input-wrapper:focus-within .input-icon { color: var(--color-principal); }
.tema-azul .input-wrapper:focus-within .toggle-passwordd { color: var(--color-principal); }
.tema-azul .input-wrapper:focus-within .toggle-passwordd-sub { color: var(--color-principal); }
.tema-azul .p-info-group input:focus { border-color: var(--color-principal); box-shadow: 0 0 10px rgba(4, 16, 179, 0.3);}
.tema-azul .toast { background: var(--color-principal); }
.tema-azul .step-num {background: linear-gradient(135deg, #3159c9, #021349);}
.tema-azul .cta-banner {background: linear-gradient(135deg, #3159c9, #021349);}
.tema-azul .logo-icon { background: linear-gradient(135deg, #3159c9, #1a228c);}
.tema-azul #modal-registro > div {
    box-shadow: 0 25px 50px rgba(9, 31, 104, 0.6), 0 0 15px rgba(2, 9, 109, 0.2); 
}
.tema-azul #registro-form input:focus {
    box-shadow: 0 0 5px rgba(4, 25, 120, 0.3);
}
.tema-azul #registro-form select:focus { 
    box-shadow: 0 0 5px rgba(6, 4, 120, 0.3);
}
.tema-azul #registro-form button:hover {
    background: linear-gradient(180deg, #013d98, #000000);
}
.tema-azul .mesa-usuario button {
    background: linear-gradient(180deg, #19488f, #000000d0) !important;
}
.tema-azul .mesa-usuario button:hover{
    background: linear-gradient(180deg, #2693d3, #000000) !important;
}
.tema-azul .btn-billar {
    background: linear-gradient(180deg, #19488f, #000000d0) !important;
}
.tema-azul .btn-billar:hover {
    background: linear-gradient(180deg, #2693d3, #000000) !important;
}


/* 🔥 FACTURA EN MESAS */
.mesas-page.tema-rojo .modal-header {
    background: linear-gradient(98deg, #990000, #5a1414);
}

.mesas-page.tema-rojo .btn-print,
.mesas-page.tema-rojo .modal-header h2 {
    color: #fff;
}

.mesas-page.tema-rojo .btn-print {
    background: #990000;
}

.mesas-page.tema-morado .modal-header {
    background: linear-gradient(98deg, #572b96, #1f084a);
}

.mesas-page.tema-morado .btn-print,
.mesas-page.tema-morado .modal-header h2 {
    color: #fff;
}

.mesas-page.tema-morado .btn-print {
    background: #572b96;
}

.mesas-page.tema-azul .modal-header {
    background: linear-gradient(98deg, #3159c9, #021349);
}

.mesas-page.tema-azul .btn-print,
.mesas-page.tema-azul .modal-header h2 {
    color: #fff;
}

.mesas-page.tema-azul .btn-print {
    background: #3159c9;
}

.mesas-page .invoice-details strong,
.mesas-page .modal-body h3 {
    color: var(--color-principal);
}
